<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Select the language and record your audio!!!</h1>
    <form action="/encode/voice" method="post">
        <label for="dropdown">Choose a language:</label>
        <select id="dropdown" name="lang">
            <option value="None">None</option>
            <option value="English">English</option>
            <option value="Hindi">Hindi</option>
            <option value="Bengali">Bengali</option>
            <option value="Telugu">Telugu</option>
            <option value="Marathi">Marathi</option>
            <option value="Tamil">Tamil</option>
            <option value="Urdu">Urdu</option>
            <option value="Gujarati">Gujarati</option>
            <option value="Malayalam">Malayalam</option>
            <option value="Kannada">Kannada</option>
            <option value="Odia">Odia</option>
            <option value="Punjabi">Punjabi</option>
            <option value="Assamese">Assamese</option>
        </select>
        <input type="submit" value="Record audio">
    </form>

    {% if text %}
        Translated text: {{text}}
        <br>
        Current language: {{lang}}
        <br>
        Preprocessed text: {{ptext}}
    {% else %}
    Could not recognize speech
    {% endif %}
</body>
</html>