<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Convert your text to ISL here!</h1>
    <form action="/encoding" method="post">
        <input type="text" name="text">
        <input type="submit" value="Submit">
    </form>

    {% if text %}
        Translated text: {{text}}
        <br>
        Current language: {{lang}}
        <br>
        Preprocessed text: {{ptext}}
    {% endif %}
</body>
</html>